# reddit data cleaning

In [39]:
import pandas as pd

data = pd.read_csv('data.csv')

data.head()

,Title,Post Text,Time
0,I need to put my 19yo cat down and don't know ...,My almost 19 yo female cat Tugui is on her las...,2024-04-19 19:34:30
1,I need to put my 19yo cat down and don't know ...,My almost 19 yo female cat Tugui is on her las...,2024-04-19 19:34:30
2,3 gallon tank??,"Hi so I have a 3 gallon tank, someone randomly...",2024-04-19 18:05:56
3,3 gallon tank??,"Hi so I have a 3 gallon tank, someone randomly...",2024-04-19 18:05:56
4,Eight month old German Shepherd Male,Im making this post to ask basic questions fro...,2024-04-19 16:18:23

In [40]:
import pandas as pd

# Assuming 'data' is your existing DataFrame
# Step 1: Rename 'Post Text' to 'Post_text'
data.rename(columns={'Post Text': 'Post_text'}, inplace=True)

# Step 2: Fill empty 'Post_text' with corresponding 'Title'
data['Post_text'] = data.apply(lambda row: row['Title'] if pd.isna(row['Post_text']) or row['Post_text'] == '' else row['Post_text'], axis=1)

# Step 3: Remove duplicates in 'Post_text'
data.drop_duplicates(subset='Post_text', keep='first', inplace=True)

In [41]:
data.head()

,Title,Post_text,Time
0,I need to put my 19yo cat down and don't know ...,My almost 19 yo female cat Tugui is on her las...,2024-04-19 19:34:30
2,3 gallon tank??,"Hi so I have a 3 gallon tank, someone randomly...",2024-04-19 18:05:56
4,Eight month old German Shepherd Male,Im making this post to ask basic questions fro...,2024-04-19 16:18:23
6,"Moving out of US, transfer of ownership?","Hello all, excuse if this is a silly question....",2024-04-19 15:42:40
8,How to make a cat more friendly?,Hey ppl!\nI picked up a cat from a shelter lik...,2024-04-19 15:10:10

In [42]:
# 检查'Post_text'列中是否有重复值
duplicates = data['Post_text'].duplicated().any()

# 输出检查结果
print('存在重复内容:', duplicates)

存在重复内容: False

In [43]:
import pandas as pd

# 假设您的data数据框已经存在，并且Time列格式为'2024-04-19'这样的日期字符串
# 首先确保Time列是日期格式
data['Time'] = pd.to_datetime(data['Time'])

# 定义一个函数，根据日期返回季度字符串
def assign_season(date):
    year = date.year
    if date >= pd.Timestamp(year=year, month=1, day=1) and date <= pd.Timestamp(year=year, month=3, day=31):
        return f'{str(year)[2:]}s1'
    elif date >= pd.Timestamp(year=year, month=4, day=1) and date <= pd.Timestamp(year=year, month=6, day=30):
        return f'{str(year)[2:]}s2'
    elif date >= pd.Timestamp(year=year, month=7, day=1) and date <= pd.Timestamp(year=year, month=9, day=30):
        return f'{str(year)[2:]}s3'
    elif date >= pd.Timestamp(year=year, month=10, day=1) and date <= pd.Timestamp(year=year, month=12, day=31):
        return f'{str(year)[2:]}s4'

# 应用这个函数到每一行的Time列
data['Season'] = data['Time'].apply(assign_season)

def assign_season(date):
    year = date.year
    if date >= pd.Timestamp(year=year, month=1, day=1) and date <= pd.Timestamp(year=year, month=3, day=31):
        return f'{str(year)[2:]}s1'
    elif date >= pd.Timestamp(year=year, month=4, day=1) and date <= pd.Timestamp(year=year, month=6, day=30):
        return f'{str(year)[2:]}s2'
    elif date >= pd.Timestamp(year=year, month=7, day=1) and date <= pd.Timestamp(year=year, month=9, day=30):
        return f'{str(year)[2:]}s3'
    elif date >= pd.Timestamp(year=year, month=10, day=1) and date <= pd.Timestamp(year=year, month=12, day=31):
        return f'{str(year)[2:]}s4'

# 应用这个函数到每一行的Time列
data['Season'] = data['Time'].apply(assign_season)

In [44]:
data.head()

,Title,Post_text,Time,Season
0,I need to put my 19yo cat down and don't know ...,My almost 19 yo female cat Tugui is on her las...,2024-04-19 19:34:30,24s2
2,3 gallon tank??,"Hi so I have a 3 gallon tank, someone randomly...",2024-04-19 18:05:56,24s2
4,Eight month old German Shepherd Male,Im making this post to ask basic questions fro...,2024-04-19 16:18:23,24s2
6,"Moving out of US, transfer of ownership?","Hello all, excuse if this is a silly question....",2024-04-19 15:42:40,24s2
8,How to make a cat more friendly?,Hey ppl!\nI picked up a cat from a shelter lik...,2024-04-19 15:10:10,24s2

In [45]:
data.head()

,Title,Post_text,Time,Season
0,I need to put my 19yo cat down and don't know ...,My almost 19 yo female cat Tugui is on her las...,2024-04-19 19:34:30,24s2
2,3 gallon tank??,"Hi so I have a 3 gallon tank, someone randomly...",2024-04-19 18:05:56,24s2
4,Eight month old German Shepherd Male,Im making this post to ask basic questions fro...,2024-04-19 16:18:23,24s2
6,"Moving out of US, transfer of ownership?","Hello all, excuse if this is a silly question....",2024-04-19 15:42:40,24s2
8,How to make a cat more friendly?,Hey ppl!\nI picked up a cat from a shelter lik...,2024-04-19 15:10:10,24s2

In [46]:
data.to_csv('output.csv', index=False)