In [2]:
import pandas as pd

In [4]:
us_foods_supplies = pd.read_csv('US Pet Food  Supply Stores.csv')

us_foods_supplies.head()

,Business Name,City,State,ZIP,ZIP 4,Key Executive,Gender,Location Employee Size,Corporate Employee Size,Revenue / Yr,...,Est. Accounting Annual Expense,Est. Advertising Annual Expense,Est. Business Insurance Annual Expense,Est. Legal Annual Expense,Est. Office Equipment Annual Expense,Est. Rent Annual Expense,Est. Technology Annual Expense,Est. Telecom Annual Expense,Est. Utilities Annual Expense,Franchise Type
0,Food Lion LLC,Salisbury,NC,28147,9007.0,Chief Executive Officer,Male,60,"61,209","$10,864,371,027",...,"$100,000 or more","$100,000 or more","$100,000 or more","$100,000 or more","$100,000 or more","$100,000 or more","$100,000 or more","$100,000 or more","$100,000 or more",NaN
1,Safeway Inc,Pleasanton,CA,94588,3229.0,President,Male,50,"46,073","$10,284,493,384",...,"$100,000 or more","$100,000 or more","$100,000 or more","$100,000 or more","$100,000 or more","$100,000 or more","$100,000 or more","$100,000 or more","$100,000 or more",NaN
2,PetSmart Inc,Phoenix,AZ,85027,4010.0,Chief Executive Officer,Male,9,"53,000","$9,369,043,200",...,"$100,000 or more","$100,000 or more","$100,000 or more","$100,000 or more","$100,000 or more","$100,000 or more","$100,000 or more","$100,000 or more","$100,000 or more",NaN
3,Petco Animal Supplies Stores Inc Group Benefit...,San Diego,CA,92121,2270.0,Chief Executive Officer,Male,788,"24,200","$5,175,029,640",...,"$100,000 or more","$100,000 or more","$100,000 or more","$100,000 or more","$100,000 or more","$100,000 or more","$100,000 or more","$100,000 or more","$100,000 or more",NaN
4,Big Heart Pet Brands Inc,San Francisco,CA,94111,3404.0,Chief Executive Officer,Male,528,"2,325","$1,461,868,395",...,"$100,000 or more","$100,000 or more","$100,000 or more","$100,000 or more","$100,000 or more","$100,000 or more","$100,000 or more","$100,000 or more","$100,000 or more",NaN

In [5]:
us_foods_supplies['State'].unique()

array(['NC', 'CA', 'AZ', 'MI', 'NJ', 'FL', 'CO', 'MO', 'TN', 'NY', 'PA',
       'OH', 'TX', 'OR', 'MA', 'WI', 'MN', 'IL', 'IA', 'KS', 'LA', 'IN',
       'WA', 'GA', 'WV', 'AL', 'SC', 'CT', 'NE', 'RI', 'KY', 'VA', 'MT',
       'HI', 'MD'], dtype=object)

In [6]:
us_foods_supplies['State'].value_counts()

State
FL    486
GA     75
IL     37
AL     30
CA     29
TX     27
SC     20
OH     19
TN     16
PA     14
NC      9
NY      8
MA      8
MN      8
WA      7
VA      7
NE      7
CO      7
IA      7
LA      7
AZ      5
MI      5
NJ      5
WI      5
MO      4
IN      4
KS      3
CT      3
OR      3
MD      3
RI      2
HI      2
WV      1
KY      1
MT      1
Name: count, dtype: int64

# 从这里开始是真正能用的数据

In [7]:
catsvdogs = pd.read_csv('catsvdogs.csv')

catsvdogs.head()

,Location,Number of Households (in 1000),Percentage of households with pets,Number of Pet Households (in 1000),Percentage of Dog Owners,Dog Owning Households (1000s),Mean Number of Dogs per household,Dog Population (in 1000),Percentage of Cat Owners,Cat Owning Households,Mean Number of Cats,Cat Population,Unnamed: 12
0,Alabama,"1,828",59.5,"1,088",44.1,807,1.7,"1,410",27.4,501,2.5,"1,252",NaN
1,Arizona,"2,515",59.5,"1,497",40.1,"1,008",1.8,"1,798",29.6,743,1.9,"1,438",NaN
2,Arkansas,1148,62.4,716,47.9,550,2.0,"1,097",30.6,351,2.3,810,NaN
3,California,"12,974",52.9,"6,865",32.8,"4,260",1.6,"6,687",28.3,"3,687",1.9,"7,118",NaN
4,Colorado,"1,986",61.3,"1,217",42.5,845,1.6,"1,349",32.3,642,1.9,1191,NaN

In [8]:
pet_spending = pd.read_csv('pet spending.csv')

pet_spending.head()

,State,Food,Toys and Treats,Medical,Household Items,Grooming,Total cost
0,Alabama,"$1,304",$417,$839,$63,$264,"$2,887"
1,Arizona,"$1,207",$676,$896,$110,$389,"$3,278"
2,Arkansas,"$1,290",$312,$909,$126,$488,"$3,126"
3,California,"$2,272","$1,003","$1,298",$701,"$1,223","$6,497"
4,Colorado,"$2,072",$312,"$1,246",$590,"$1,143","$5,362"

In [9]:
pet_vaccine = pd.read_csv('pet vaccine rate.csv')

pet_vaccine.head()

,State,Pet vaccine rate (%),Main reason for lack of vaccination,Pet microchip rate,Main reason for lack of microchip,I have medical insurance for my pet
0,Alabama,32,Vaccine related health concerns,25,Privacy / worried about tracking,12
1,Arizona,33,Vaccine related health concerns,28,Privacy / worried about tracking,4
2,Arkansas,33,Don't know / No reason,29,Privacy / worried about tracking,4
3,California,85,Haven't gotten around to it,61,Haven't gotten around to it,7
4,Colorado,81,Haven't gotten around to it,54,Haven't gotten around to it,10

In [10]:
shelter = pd.read_csv('shelter.csv')

shelter.head()

,State,Year,Organizations,Intake - Relinquished By Owner Total-Feline,Intake - Stray At Large Total-Feline,Intake - Transferred In Total-Feline,Intake - Owner Intended Euthanasia Total-Feline,Intakes - Other Intakes Total-Feline,Live Outcome - Adoption Total-Feline,Live Outcome - Returned To Owner Total-Feline,...,Intakes - Other Intakes Total-Canine,Live Outcome - Adoption Total-Canine,Live Outcome - Returned To Owner Total-Canine,Live Outcome - Returned To Field Total-Canine,Live Outcome - Transferred Out Total-Canine,Live outcome - Other Live Outcome Total-Canine,Other Outcome - Died In Care Total-Canine,Other Outcome - Lost In Care Total-Canine,Other Outcome - Owner Intended Euthanasia Total-Canine,Other Outcome - Shelter Euthanasia Total-Canine
0,AK,2021,5,886,1620,85,37,133,2217,365,...,144,763,948,0,3,6,7,0,80,82
1,AK,2022,5,1128,1878,51,42,146,2158,310,...,189,1106,1006,0,1,3,4,1,112,216
2,AK,2023,5,911,1814,45,42,122,2148,223,...,210,993,880,0,8,4,12,1,149,257
3,AL,2021,17,1548,3414,707,0,644,3816,78,...,1953,6577,2101,1,3592,90,180,7,7,2994
4,AL,2022,17,1419,3400,816,3,503,4307,65,...,2277,6681,2012,0,3190,808,193,14,0,3262

In [12]:
import pandas as pd


# 如果 'Location' 列和 'State' 列的数据是可以匹配的，我们需要重命名 'catsvdogs' 数据框中的 'Location' 列为 'State'
catsvdogs.rename(columns={'Location': 'State'}, inplace=True)

# 选择 'catsvdogs' 数据框中的指定列
catsvdogs_selected_columns = catsvdogs[['State', 'Number of Households (in 1000)', 'Percentage of households with pets',
                                         'Number of Pet Households (in 1000)', 'Percentage of Dog Owners', 
                                         'Dog Owning Households (1000s)', 'Mean Number of Dogs per household', 
                                         'Dog Population (in 1000)', 'Percentage of Cat Owners', 'Cat Owning Households', 
                                         'Mean Number of Cats', 'Cat Population']]

# 合并数据框
dk = pd.merge(catsvdogs_selected_columns, pet_spending, on='State', how='inner')
dk = pd.merge(dk, pet_vaccine[['State', 'Pet vaccine rate (%)', 'Pet microchip rate']], on='State', how='inner')


dk.head()

,State,Number of Households (in 1000),Percentage of households with pets,Number of Pet Households (in 1000),Percentage of Dog Owners,Dog Owning Households (1000s),Mean Number of Dogs per household,Dog Population (in 1000),Percentage of Cat Owners,Cat Owning Households,Mean Number of Cats,Cat Population,Food,Toys and Treats,Medical,Household Items,Grooming,Total cost,Pet vaccine rate (%),Pet microchip rate
0,Alabama,"1,828",59.5,"1,088",44.1,807,1.7,"1,410",27.4,501,2.5,"1,252","$1,304",$417,$839,$63,$264,"$2,887",32,25
1,Arizona,"2,515",59.5,"1,497",40.1,"1,008",1.8,"1,798",29.6,743,1.9,"1,438","$1,207",$676,$896,$110,$389,"$3,278",33,28
2,Arkansas,1148,62.4,716,47.9,550,2.0,"1,097",30.6,351,2.3,810,"$1,290",$312,$909,$126,$488,"$3,126",33,29
3,California,"12,974",52.9,"6,865",32.8,"4,260",1.6,"6,687",28.3,"3,687",1.9,"7,118","$2,272","$1,003","$1,298",$701,"$1,223","$6,497",85,61
4,Colorado,"1,986",61.3,"1,217",42.5,845,1.6,"1,349",32.3,642,1.9,1191,"$2,072",$312,"$1,246",$590,"$1,143","$5,362",81,54

In [14]:
# 假设 'dk' 和 'shelter' 数据框已经被加载到了环境中
# shelter = pd.read_csv('path_to_shelter.csv')

# 美国各州全名和缩写的映射字典
state_abbreviations = {
    'Alabama': 'AL', 'Alaska': 'AK', 'Arizona': 'AZ', 'Arkansas': 'AR', 'California': 'CA',
    'Colorado': 'CO', 'Connecticut': 'CT', 'Delaware': 'DE', 'Florida': 'FL', 'Georgia': 'GA',
    'Hawaii': 'HI', 'Idaho': 'ID', 'Illinois': 'IL', 'Indiana': 'IN', 'Iowa': 'IA',
    'Kansas': 'KS', 'Kentucky': 'KY', 'Louisiana': 'LA', 'Maine': 'ME', 'Maryland': 'MD',
    'Massachusetts': 'MA', 'Michigan': 'MI', 'Minnesota': 'MN', 'Mississippi': 'MS',
    'Missouri': 'MO', 'Montana': 'MT', 'Nebraska': 'NE', 'Nevada': 'NV', 'New Hampshire': 'NH',
    'New Jersey': 'NJ', 'New Mexico': 'NM', 'New York': 'NY', 'North Carolina': 'NC',
    'North Dakota': 'ND', 'Ohio': 'OH', 'Oklahoma': 'OK', 'Oregon': 'OR', 'Pennsylvania': 'PA',
    'Rhode Island': 'RI', 'South Carolina': 'SC', 'South Dakota': 'SD', 'Tennessee': 'TN',
    'Texas': 'TX', 'Utah': 'UT', 'Vermont': 'VT', 'Virginia': 'VA', 'Washington': 'WA',
    'West Virginia': 'WV', 'Wisconsin': 'WI', 'Wyoming': 'WY'
}

# 反转映射，将缩写映射到全名
abbrev_to_fullname = {abbrev: state for state, abbrev in state_abbreviations.items()}

# 在 'shelter' 数据框中添加一个全名的 'State' 列
shelter['State Fullname'] = shelter['State'].map(abbrev_to_fullname)

# 过滤 'shelter' 数据框以只包含2022年的数据
shelter_2022 = shelter[shelter['Year'] == 2022]

# 选择需要的列
shelter_selected_columns = shelter_2022[['State Fullname', 'Live Outcome - Adoption Total-Feline', 'Live Outcome - Returned To Owner Total-Feline']]

# 将 'shelter' 数据框和 'dk' 数据框合并
dy = pd.merge(dk, shelter_selected_columns, left_on='State', right_on='State Fullname', how='left')

# 移除合并后重复的 'State Fullname' 列
dy.drop(columns=['State Fullname'], inplace=True)


dy.head()

,State,Number of Households (in 1000),Percentage of households with pets,Number of Pet Households (in 1000),Percentage of Dog Owners,Dog Owning Households (1000s),Mean Number of Dogs per household,Dog Population (in 1000),Percentage of Cat Owners,Cat Owning Households,...,Food,Toys and Treats,Medical,Household Items,Grooming,Total cost,Pet vaccine rate (%),Pet microchip rate,Live Outcome - Adoption Total-Feline,Live Outcome - Returned To Owner Total-Feline
0,Alabama,"1,828",59.5,"1,088",44.1,807,1.7,"1,410",27.4,501,...,"$1,304",$417,$839,$63,$264,"$2,887",32,25,4307,65
1,Arizona,"2,515",59.5,"1,497",40.1,"1,008",1.8,"1,798",29.6,743,...,"$1,207",$676,$896,$110,$389,"$3,278",33,28,21238,518
2,Arkansas,1148,62.4,716,47.9,550,2.0,"1,097",30.6,351,...,"$1,290",$312,$909,$126,$488,"$3,126",33,29,3600,63
3,California,"12,974",52.9,"6,865",32.8,"4,260",1.6,"6,687",28.3,"3,687",...,"$2,272","$1,003","$1,298",$701,"$1,223","$6,497",85,61,92150,4410
4,Colorado,"1,986",61.3,"1,217",42.5,845,1.6,"1,349",32.3,642,...,"$2,072",$312,"$1,246",$590,"$1,143","$5,362",81,54,32370,2422

变量分布：

为了评估每个州对宠物的友好度，我们可以创建一个评分机制，它将考虑到以下因素：

领养率（Adoption Rates） - 较高的领养率通常意味着一个州对宠物较为友好。可以为领养率打分，比如，领养率在全国平均以上的州得到正分，以下的得到负分。

领养后返回率（Adoption Return Rates） - 领养后宠物被返回的频率应该较低。较低的返回率可能表明领养过程较为严谨，确保宠物和家庭匹配良好。领养后返回率较低的州得到正分，反之得到负分。

宠物开支（Pet Expenditure） - 较高的宠物开支可能反映了人们对宠物的重视程度。可以按人均宠物开支为州打分，开支高于全国平均的州得到正分，低于平均的得到负分。

疫苗接种率（Vaccine Rates） - 高疫苗接种率表明对宠物健康的重视。疫苗接种率高于全国平均的州得到正分，低于平均的得到负分。

猫狗分布（Cat and Dog Distribution） - 一个平衡的猫狗分布可能意味着该州的宠物政策和资源对不同类型的宠物都友好。我们可以设定一个理想的猫狗比例，接近这个比例的州得分较高。

基于这些因素，我们可以构建一个评分公式。每个因素可以有不同的权重，根据其在宠物友好度中的重要性来定。例如：

领养率（30%）
领养后返回率（20%）
宠物开支（20%）
疫苗接种率（20%）
猫狗分布（10%）


评分公式可能是这样的：
宠物友好度得分=0.3×领养率得分+0.2×领养后返回率得分+0.2×宠物开支得分+0.2×疫苗接种率得分+0.1×猫狗分布得分

其中：

领养得分 = 州领养率/全国平均领养率 * 100

疫苗接种率得分=州接种率/全国平均接种率 * 100

领养后返回率得分=(1− 州的领养后返回率/全国平均领养后返回率）*100

对于宠物开支，我们可以参考州的总开支和人均开支两个维度，从而给出一个综合的评分。例如，我们可以使用以下公式来计算宠物开支得分：

宠物开支得分=( 全国平均人均宠物开支/州的人均宠物开支×100)

对于猫狗分布，我们可以计算出每个州的猫狗比例，然后与设定的理想比例进行比较，得分越接近100表示该州的猫狗分布越接近理想状态。如果一个州的比例与理想比例相差很远，它的得分就会较低。这个得分可以用以下公式计算：

猫狗分布得分=100−∣理想猫狗比−州的实际猫狗比∣×惩罚系数
在这里，惩罚系数是一个可以调节的参数，它将决定偏离理想猫狗比例的严重性如何影响得分。

最终的宠物友好度得分将是一个加权平均数，它反映了一个州在这些不同指标上的表现。这个得分可以用来排名，以确定哪些州更加宠物友好。这种方法允许我们将不同的指标和数据点融合成一个单一的，可解释的得分。

# 我们可以画四组图：

第一组：各个指标的分布（每个州的每个指标的分布）



第二组 猫和狗分布



第三组 友好指数



第四组 shelter 曲线图、分组展现支出（堆叠）



第五组：words cloud



第六组：情感性分析、词频、趋势分析

shiny